<!--app-content open-->

<div *ngIf="displayConfirm == false">
    <div class="main-content app-content mt-0" >
        <div class="side-app">
    
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
    
                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Profile</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->
    
                <!-- ROW-1 OPEN -->
                <div class="row" id="user-profile">
                    <div class="col-lg-12">
                        <app-header-perfil [infoUser]="infoUsuario"></app-header-perfil>
                        <div class="row" >
                            <div class="col-xl-3">
                                <app-izq-cards [infoPublicaciones]="publicacionesUsuario"></app-izq-cards>
                            </div>
                            
                            <div class="col-xl-9" >
                               
                                <app-center-cards [infoPublicaciones]="publicacionesUsuario" [reaccionesUsuario]="reaccionesUsuario"></app-center-cards>
                                </div>
                            
                                
                            
                        </div>
                    </div>
                    <!-- COL-END -->
                </div>
                <!-- ROW-1 CLOSED -->
    
            </div>
            <!-- CONTAINER CLOSED -->
    
        </div>
    </div>
</div>

<!--app-content closed-->


<p-dialog
    header="Loading"
    [(visible)]="displayConfirm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    
    <div
      style="
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        src="../../assets/images/loadeer.gif"
        style="width: 50px; height: 50px"
      />
    </div>
  </p-dialog>