<div class="card">
    <div class="card-body">
        <div class="main-profile-contact-list">
            <div class="me-5">
                <div class="media mb-4 d-flex">
                    <div class="media-icon bg-secondary bradius me-3 mt-1">
                        <i class="fe fe-edit fs-20 text-white"></i>
                    </div>
                    <div class="media-body">
                        <span class="text-muted">Peticiones</span>
                        <div class="fw-semibold fs-25">
                            5
                        </div>
                    </div>
                </div>
            </div>
            <div class="me-5 mt-5 mt-md-0">
                <div class="media mb-4 d-flex">
                    <div class="media-icon bg-danger bradius text-white me-3 mt-1">
                        <span class="mt-3">
                            <i class="fe fe-file-text fs-20"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <span class="text-muted">Respuestas</span>
                        <div class="fw-semibold fs-25">
                            9
                        </div>
                    </div>
                </div>
            </div>
            <div class="me-0 mt-5 mt-md-0">
                <div class="media">
                    <div class="media-icon bg-primary text-white bradius me-3 mt-1">
                        <span class="mt-3">
                            <i class="fe fe-file-text fs-20"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <span class="text-muted">Respuestas Rechazadas</span>
                        <div class="fw-semibold fs-25">
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="card-title">Acerca de ti</div>
    </div>
    <div class="card-body">
        <div>
            <h5>Biografia<i class="fe fe-edit-3 text-primary mx-2"></i></h5>
            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
            </p>
        </div>
        <hr>
        <div class="d-flex align-items-center mb-3 mt-3">
            <div class="me-4 text-center text-primary">
                <span><i class="fe fe-briefcase fs-20"></i></span>
            </div>
            <div>
                <strong>San Buenaventura, CO </strong>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3 mt-3">
            <div class="me-4 text-center text-primary">
                <span><i class="fe fe-map-pin fs-20"></i></span>
            </div>
            <div>
                <strong>Cali, CO</strong>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3 mt-3">
            <div class="me-4 text-center text-primary">
                <span><i class="fe fe-phone fs-20"></i></span>
            </div>
            <div>
                <strong>+57 123456789 </strong>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3 mt-3">
            <div class="me-4 text-center text-primary">
                <span><i class="fe fe-mail fs-20"></i></span>
            </div>
            <div>
                <strong>georgeme@abc.com </strong>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">Work & Education</div>
    </div>
    <div class="card-body">
        <div class="main-profile-contact-list">
            <div class="me-5">
                <div class="media mb-4 d-flex">
                    <div class="media-icon bg-primary  mb-3 mb-sm-0 me-3 mt-1">
                        <svg style="width:24px;height:24px;margin-top:-8px" viewBox="0 0 24 24">
                            <path fill="#fff" d="M12 3L1 9L5 11.18V17.18L12 21L19 17.18V11.18L21 10.09V17H23V9L12 3M18.82 9L12 12.72L5.18 9L12 5.28L18.82 9M17 16L12 18.72L7 16V12.27L12 15L17 12.27V16Z" />
                        </svg>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-semibold mb-1">Web Designer at <a href="javascript:void(0)" class="btn-link">Spruko</a></h6>
                        <span>2018 - present</span>
                        <p>Past Work: Spruko, Inc.</p>
                    </div>
                </div>
            </div>
            <div class="me-5 mt-5 mt-md-0">
                <div class="media mb-4 d-flex">
                    <div class="media-icon bg-success text-white mb-3 mb-sm-0 me-3 mt-1">
                        <svg style="width:24px;height:24px;margin-top:-8px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M20,6C20.58,6 21.05,6.2 21.42,6.59C21.8,7 22,7.45 22,8V19C22,19.55 21.8,20 21.42,20.41C21.05,20.8 20.58,21 20,21H4C3.42,21 2.95,20.8 2.58,20.41C2.2,20 2,19.55 2,19V8C2,7.45 2.2,7 2.58,6.59C2.95,6.2 3.42,6 4,6H8V4C8,3.42 8.2,2.95 8.58,2.58C8.95,2.2 9.42,2 10,2H14C14.58,2 15.05,2.2 15.42,2.58C15.8,2.95 16,3.42 16,4V6H20M4,8V19H20V8H4M14,6V4H10V6H14M12,9A2.25,2.25 0 0,1 14.25,11.25C14.25,12.5 13.24,13.5 12,13.5A2.25,2.25 0 0,1 9.75,11.25C9.75,10 10.76,9 12,9M16.5,18H7.5V16.88C7.5,15.63 9.5,14.63 12,14.63C14.5,14.63 16.5,15.63 16.5,16.88V18Z" />
                        </svg>
                    </div>
                    <div class="media-body">
                        <h6 class="font-weight-semibold mb-1">Studied at <a href="javascript:void(0)" class="btn-link">University</a></h6>
                        <span>2004-2008</span>
                        <p>Graduation: Bachelor of Science in Computer Science</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>