<!--APP-SIDEBAR-->
        <div class="sticky" >
                    <div class="app-sidebar__overlay" data-bs-toggle="sidebar" ></div>
                    <div class="app-sidebar" style="overflow: scroll;">
                        <div class="side-header">
                            <a class="header-brand1" href="index.html">
                                <img src="" class="header-brand-img desktop-logo" alt="logo">
                                <img src="" class="header-brand-img toggle-logo"
                                    alt="logo">
                                <img src="../assets/images/CGIAR.png" style="width: 107px; height: 30px;" class="header-brand-img light-logo" alt="logo">
                                <img src="../assets/images/CGIAR.png" style="width: 100px; height: 50px;" class="header-brand-img light-logo1"
                                    alt="logo">
                            </a>
                            <!-- LOGO -->
                        </div>
                        <div class="main-sidemenu">
                            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                                </svg></div>
                            <ul class="side-menu">
                                <li class="sub-category">
                                    <h3>Main</h3>
                                </li>
                                <li class="slide" (click)="abrir('side-menu-one-cgiar-control-list')">
                                    <a [routerLink]="['homeO']" class="side-menu__item" data-bs-toggle="slide"   href="javascript:void(0)"><i
                                            class="side-menu__icon fa fa-list-ul"></i><span
                                            class="side-menu__label">General Control List</span><i
                                            class="angle fe fe-chevron-right"></i></a>
                                    <ul class="slide-menu" id="side-menu-one-cgiar-control-list" >
                                        <app-sub-menu [dataSubMenu] = "item" *ngFor="let item of dataSubMenu;"></app-sub-menu>
                                    </ul>
                                </li>
                                <li class="slide" (click)="abrir('aditional-services')">
                                    <a class="side-menu__item" data-bs-toggle="slide"   href="javascript:void(0)"><i
                                            class="side-menu__icon fa fa-university"></i><span
                                            class="side-menu__label">Institutions</span><i
                                            class="angle fe fe-chevron-right"></i></a>
                                    <ul class="slide-menu" id="aditional-services" >
                                        <li><a [routerLink]="['home']" class="slide-item">Institutions List </a></li>
                                    </ul>
                                </li>

                            </ul>
                            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                                    width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                                </svg></div>
                        </div>
                    </div>
                    <!--/APP-SIDEBAR-->
        </div>
        <!-- app-Header -->
        <div class="app-header header sticky">
            <div class="container-fluid main-container">
                <div class="d-flex">
                    <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" href="javascript:void(0)"></a>
                    <!-- sidebar-toggle-->
                    <a class="logo-horizontal " href="index.html">
                        <img src="../assets/images/CGIAR.png" class="header-brand-img desktop-logo" alt="logo">
                        <img src="../assets/images/CGIAR.png" style="width: 100px; height: 50px;" class="header-brand-img light-logo1"
                            alt="logo">
                    </a>
                    <!-- LOGO -->
                    <div class="d-flex order-lg-2 ms-auto header-right-icons">
                        <!-- SEARCH -->
                        
                        <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                            aria-controls="navbarSupportedContent-4" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                        </button>
                        <div class="navbar navbar-collapse responsive-navbar p-0">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                <div class="d-flex order-lg-2">
                                    <div class="d-flex country">
                                        <a class="nav-link icon text-center" data-bs-target="#country-selector"
                                            data-bs-toggle="modal">
                                            <i class="fe fe-home"></i><span
                                                class="fs-16 ms-2 d-none d-xl-block">Home</span>
                                        </a>
                                    </div>

                                    <div class="dropdown  d-flex notifications">
                                        <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                                            <i class="fa fa-area-chart"></i><span class="fs-16 ms-2 d-none d-xl-block">Dashboards</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            
                                            <div class="dropdown-divider m-0"></div>
                                            
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa-indent"></i> Introduction
                                            </a>
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa-bar-chart"></i> Institutions Request BI
                                            </a>
                                        </div>
                                    </div>

                                    <div class="dropdown  d-flex notifications">
                                        <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                                            <i class="fa fa-globe"></i><span class="fs-16 ms-2 d-none d-xl-block">API Services</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            
                                            <div class="dropdown-divider m-0"></div>
                                            
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa-television"></i> Annual Report Control Lists
                                            </a>
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa fa-file-text"></i> 
                                                One CGIAR Control Lists
                                            </a>
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa-globe"></i> Additional Services
                                            </a>
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa fa-briefcase"></i> One CGIAR Operation
                                            </a>
                                        </div>
                                    </div>

                                    <div class="dropdown  d-flex notifications">
                                        <a class="nav-link icon text-center" data-bs-toggle="dropdown">
                                            <i class="fa fa-info-circle"></i><span class="fs-16 ms-2 d-none d-xl-block">Help</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            
                                            <div class="dropdown-divider m-0"></div>
                                            
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa-question-circle "></i> FAQ
                                            </a>
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fa fa-envelope-o"></i> Contact us
                                            </a>
                                        </div>
                                    </div>

                                    <!-- MESSAGE-BOX -->
                                    <!-- SIDE-MENU -->
                                    <div class="dropdown d-flex profile-1">
                                        <a href="javascript:void(0)" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">
                                            <img src="../assets/images/users/21.jpg" alt="profile-user"
                                                class="avatar  profile-user brround cover-image">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            <div class="drop-heading">
                                                <div class="text-center">
                                                    <h5 class="text-dark mb-0 fs-14 fw-semibold">Percy Kewshun</h5>
                                                    <small class="text-muted">Senior Admin</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider m-0"></div>
                                            
                                            <a class="dropdown-item" href="email-inbox.html">
                                                <i class="dropdown-icon fe fe-mail"></i> Inbox
                                                <span class="badge bg-danger rounded-pill float-end">5</span>
                                            </a>
                                            <a class="dropdown-item" href="lockscreen.html">
                                                <i class="dropdown-icon fe fe-lock"></i> Lockscreen
                                            </a>
                                            <a class="dropdown-item" href="login.html">
                                                <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /app-Header -->
