.drop{
    margin-bottom: 10px;
    border-radius: 30px;
    width: 100%;
    
}

.my-dropdown .p-dropdown-trigger {
    width: 200px;
    border-radius: 10px;
  }
  
  .my-dropdown .p-dropdown-panel {
    width: 200px;
    border-radius: 10px;
  }