<div class="main-content app-content mt-0" *ngIf="displayConfirm == false">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Tabs</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Bootstrap</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tabs</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Especies arboreas</h3>
                        </div>
                        <div class="card-body">
                            <div class="panel panel-primary">
                                <div class="tab-menu-heading">
                                    <div class="tabs-menu">
                                        <!-- Tabs -->
                                        <ul class="nav panel-tabs panel-success">
                                            <li><a href="#tab1" class="active" data-bs-toggle="tab"><span><i class="fa fa-globe me-1"></i></span>Geolocalizacion</a></li>
                                            <li ><a href="#tab2" data-bs-toggle="tab"><span><i class="fa fa-tree me-1"></i></span>Especies Arboreas</a></li>
                                            <li><a href="#tab3" data-bs-toggle="tab"><span><i class="fa fa-pagelines me-1"></i></span>Especies</a></li>
                                            <li *ngif="infoUsuario?.rol == 'Administrador'"><a href="#tab4" data-bs-toggle="tab"><span><i class="fa fa-inbox me-1"></i></span>Request Especies <i pBadge value="{{informacionRequest.length}}"  severity="info"></i></a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body tabs-menu-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <app-mapa [informacionEspecieArbore] = "overlays" (newItemEvent) = "requestNew($event)"></app-mapa>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                           <app-table-especies></app-table-especies>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <app-tabla-esp></app-tabla-esp>
                                        </div>
                                        <div class="tab-pane" id="tab4">
                                                <app-requets-arboles *ngFor="let info of informacionRequest| paginate : { itemsPerPage: 5, currentPage: p }; let i = index" [inforequest] = "info" (newItemEvent)="editado($event)"></app-requets-arboles>
                                                <div
                                                style="
                                                  display: flex;
                                                  align-items: center;
                                                  justify-content: center;
                                                  font-size: 17px;
                                                "
                                              >
                                                <pagination-controls
                                                  (pageChange)="p = $event"
                                                  previousLabel="Previous"
                                                  nextLabel="Next"
                                                ></pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>

<p-dialog
  header="Loading"
  [(visible)]="displayConfirm"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  
  <div
    style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <img
      src="../../assets/images/loadeer.gif"
      style="width: 50px; height: 50px"
    />
  </div>
</p-dialog>